In [58]:
# Dependencies
import numpy as np
import pandas as pd

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [59]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [60]:
# Create our session (link) from Python to the DB
session = Session(engine)

## D1: Determine the Summary Statistics for June

In [61]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract

# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 
#june_temps = session.query(Measurement.date, Measurement.tobs).filter(Measurement.date.like('%-06-%')).all()
june_temps = session.query(Measurement.date, Measurement.tobs).filter(extract('month', Measurement.date) == 6).all()

In [62]:
#  3. Convert the June temperatures to a list.
temp_list = [item[1] for item in june_temps]

In [63]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 
df = pd.DataFrame(temp_list, columns=['june_temp'])

In [70]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
df.describe()

         june_temp
count  1700.000000
mean     74.944118
std       3.257417
min      64.000000
25%      73.000000
50%      75.000000
75%      77.000000
max      85.000000

## D2: Determine the Summary Statistics for December

In [71]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.
dec_temps = session.query(Measurement.date, Measurement.tobs).filter(extract('month', Measurement.date) == 12).all()

In [72]:
# 7. Convert the December temperatures to a list.
dec_temp_list = [item[1] for item in dec_temps]

In [73]:
# 8. Create a DataFrame from the list of temperatures for the month of December. 
dec_df = pd.DataFrame(dec_temp_list, columns=['december_temp'])

In [74]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.
dec_df.describe()

       december_temp
count    1517.000000
mean       71.041529
std         3.745920
min        56.000000
25%        69.000000
50%        71.000000
75%        74.000000
max        83.000000

## Summary: Additional Queries

In [78]:
# Filter Measurement table for precipitation data in June.
june_prcp = session.query(Measurement.date, Measurement.prcp).filter(extract('month', Measurement.date) == 6).all()

june_prcp_list = [item[1] for item in june_prcp]

june_prcp_df = pd.DataFrame(june_prcp_list, columns=['june_prcp'])

june_prcp_df.describe()

         june_prcp
count  1574.000000
mean      0.136360
std       0.335731
min       0.000000
25%       0.000000
50%       0.020000
75%       0.120000
max       4.430000

In [79]:
# Filter Measurement table for precipitation data in December.
dec_prcp = session.query(Measurement.date, Measurement.prcp).filter(extract('month', Measurement.date) == 12).all()

dec_prcp_list = [item[1] for item in dec_prcp]

dec_prcp_df = pd.DataFrame(dec_prcp_list, columns=['december_prcp'])

dec_prcp_df.describe()

       december_prcp
count    1405.000000
mean        0.216819
std         0.541399
min         0.000000
25%         0.000000
50%         0.030000
75%         0.150000
max         6.420000

In [80]:
# Filter Measurement table for temperature data in March.
mar_temp = session.query(Measurement.date, Measurement.tobs).filter(extract('month', Measurement.date) == 3).all()

mar_temp_list = [item[1] for item in mar_temp]

mar_temp_df = pd.DataFrame(mar_temp_list, columns=['march_temp'])

mar_temp_df.describe()

        march_temp
count  1693.000000
mean     70.059067
std       3.845271
min      56.000000
25%      68.000000
50%      70.000000
75%      73.000000
max      82.000000

In [82]:
# Filter Measurement table for temperature data in September.
sept_temp = session.query(Measurement.date, Measurement.tobs).filter(extract('month', Measurement.date) == 9).all()

sept_temp_list = [item[1] for item in sept_temp]

sept_temp_df = pd.DataFrame(sept_temp_list, columns=['september_temp'])

sept_temp_df.describe()

       september_temp
count     1480.000000
mean        76.164865
std          3.535178
min         64.000000
25%         74.000000
50%         76.000000
75%         79.000000
max         87.000000